.tattoo-post {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

.tattoo-bg {
    background-color: rgba(0, 0, 0, 0.817);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    cursor: zoom-out;
}

.tattoo-content {
    background-color: black;
    max-width: 1200px;
    position: relative;
}

.tattoo-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 150px);
    margin-left: auto;
    margin-right: auto;
}

.tattoo-content h3 {
    color: white;
    text-align: center;
}