.app-header {
    border-bottom: 1px solid rgb(106, 106, 106);
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.app-header-logo {
    display: block;
    height: 44px;
}

.app-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.tattoo-item img {
    display: block;
    width: 100%;
}